$sub-menu-li-height: 5rem;
$sub-menu-total-height: 3*$sub-menu-li-height;

nav.burger-menu {
 position: fixed;
 z-index: 1;
 height: 100vh;
 width: 100%;
 background-color: #EEF0F2;

 >ul {
  margin-top: calc(7vh + var(--header-height));

  >li {
   margin: 6vh 0;
   text-align: center;
   overflow: hidden;
  }
 }

 ul {
  li {
   list-style-type: none;

   .menu-item {
    // font-family: "Montserrat", sans-serif;
    font-family: "Quicksand", sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: inherit;
    border: none;
   }

   a.button-typ {
    font-size: 1.6rem;
    margin: auto;
   }

   ul {
    li {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0;
     height: $sub-menu-li-height;

     .menu-item {
      font-size: 1.5rem;
     }
    }
   }
  }
 }
}

/* BURGER MENU TRANSITION */
/* \/ */
.burger-menu-transition-enter {
 transform: translateX(100%);
}

.burger-menu-transition-enter-active {
 transform: translateX(0);
}

.burger-menu-transition-exit {
 transform: translateX(0);
}

.burger-menu-transition-exit-active {
 transform: translateX(100%);
}

.burger-menu-transition-enter-active,
.burger-menu-transition-exit-active {
 transition: transform 250ms ease-out;
}

/* /\ */
/* BURGER MENU TRANSITION */

/* BURGER SUBMENU TRANSITION */
/* \/ */
.burger-submenu-transition-enter {
 max-height: 0;
}

.burger-submenu-transition-enter-active {
 max-height: $sub-menu-total-height;
}

.burger-submenu-transition-exit {
 max-height: $sub-menu-total-height;
}

.burger-submenu-transition-exit-active {
 max-height: 0;
}

.burger-submenu-transition-enter-active,
.burger-submenu-transition-exit-active {
 transition: max-height 250ms ease-out;
}

/* /\ */
/* BURGER SUBMENU TRANSITION */