footer {
 padding: 1rem 0;
 color: #ffffff;
 background-color: #424746;
 text-align: center;
 line-height: 2.1rem;
}

footer span {
 font-size: 1.2rem;
 margin: 0 0.6rem;
}

footer a i {
 margin: 0 0.6rem;
 color: #ffffff;
 text-decoration: none;
 font-size: 1.6rem;
}