header {
 position: fixed;
 z-index: 10;
 top: 0;
 left: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 height: var(--header-height);
 background-color: rgba(255, 255, 255, 0.8);

 a.logo {
  display: flex;
  align-items: center;
  height: calc(0.7 * var(--header-height));
  padding-left: calc(0.15 * var(--header-height));

  img.logo {
   height: 99%;
  }
 }
}