@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&family=Quicksand:wght@300;400;500;600&display=swap);

* {
 margin: 0;
 padding: 0;
}

:root {
 --header-height: 55px;
 --dark-color: #2d3130;
 --bg-color: #d5e1df;
 --shadow-color: #d4dddc;
 --shadow-light-color: #effffc;
 --hr-color: #a3b8b4;
 font-size: 9px;
}

@media (min-width: 360px) and (min-height: 360px) {
 :root {
  --header-height: 65px;
  font-size: 10px;
 }
}

@media (min-width: 1024px) {
 :root {
  font-size: 9px;
  --margin-side: 4vw;
 }
}

@media (min-width: 1440px) {
 :root {
  font-size: 11px;
  --margin-side: 8vw;
 }
}

body {
 font-family: "Montserrat", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 color: var(--dark-color);
 min-height: 100vh;
 overflow-y: scroll;
 // position: relative;

 h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
 }

 h2 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
 }

 h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
 }

 h4 {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
 }

 h5 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.35rem;
  line-height: 2rem;
  font-weight: 400;
 }

 p {
  font-size: 1.4rem;
 }

 ul {
  font-size: 1.4rem;
 }

 table {
  font-size: 1.4rem;
 }

 [type="button"] {

  &:focus {
   outline: none;
   box-shadow: -0.25px 0.25px 1px var(--shadow-color),
    0.25px -0.25px 1px var(--shadow-color),
    0.25px -0.25px 1px var(--shadow-color) inset,
    -0.25px 0.25px 1px var(--shadow-color) inset;
  }
 }

 a {

  &:focus {
   outline: none;
   box-shadow: -0.25px 0.25px 1px var(--shadow-light-color),
    0.25px -0.25px 1px var(--shadow-light-color),
    0.25px -0.25px 1px var(--shadow-light-color) inset,
    -0.25px 0.25px 1px var(--shadow-light-color) inset;
  }
 }
}