section.scheduler {
 box-sizing: border-box;
 min-height: calc(100vh - var(--header-height));
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: var(--header-height);
 padding-bottom: 4rem;

 button {
  border: 0.5px solid var(--dark-color);
  border-radius: 1.1rem 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  color: inherit;
  // padding: 0.5rem;
  // margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
 }

 div.options-container {
  // width: 100%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &> {
   div {
    margin-bottom: 3rem;
   }

   p {
    text-align: center;
    margin: 2rem;
   }
  }


  h2 {
   margin: 2rem 0;
  }

  ul {
   display: flex;
   flex-direction: column;
   align-items: center;
   list-style-type: none;
   width: 100%;

   li {
    position: relative;
    // width: 90vw;
    width: 100%;
    min-height: 11rem;

    button {
     position: absolute;
     top: 50%;
     left: 50%;
     display: block;
     width: 100%;
     transform: translate(-50%, -50%);
     border-color: transparent;
     font-size: 1.25rem;
     padding: 0.5rem;
     margin: auto;

     &:hover,
     &.selected {
      border-color: var(--dark-color);
      color: var(--dark-color);
     }

     &.selected {
      cursor: default;
     }

     div.details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
     }
    }
   }
  }

  div.summary-container {
   text-align: center;

   p {

    margin-bottom: 1rem;
    letter-spacing: 0.04rem;

    span {
     font-style: italic;
     // font-weight: 500;
    }
   }
  }

  div.loading {
   [type="button"] {
    text-decoration: underline;

    &:hover {
     cursor: pointer;
    }
   }
  }
 }
}

@media (min-width: 533px) {
 section.scheduler {
  div.options-container {
   width: 60vw;

   ul {
    li {
     position: relative;
    }
   }
  }
 }
}

@media (min-width: 1024px) {
 section.scheduler {
  div.options-container {
   width: 30vw;

   ul {
    li {
     position: relative;
    }
   }
  }
 }
}