section.scheduler {
 box-sizing: border-box;
 min-height: calc(100vh - var(--header-height));
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: var(--header-height);
 padding-bottom: 4rem;

 div.options-container {
  h2 {
   margin: 3rem 0;
  }

  ul {
   display: flex;
   flex-direction: column;
   align-items: center;
   list-style-type: none;
   margin: 1rem 0;

   li {
    position: relative;
    width: 35rem;
    min-height: 11rem;

    button.option {
     position: absolute;
     top: 50%;
     left: 50%;
     display: block;
     width: fit-content;
     transform: translate(-50%, -50%);
     border: 0.5px solid transparent;
     border-radius: 1.1rem 0;
     font-family: 'Montserrat', sans-serif;
     font-weight: normal;
     font-size: 1.25rem;
     text-decoration: none;
     text-align: center;
     color: inherit;
     padding: 0.5rem;
     margin: auto;
     background-color: rgba(255, 255, 255, 0.6);
     cursor: pointer;

     &:hover,
     &.selected {
      border-color: var(--dark-color);

      color: #000000;

      &:focus,
      &:active {
       outline: none;
       cursor: default;
      }
     }

     div.details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
     }
    }
   }
  }
 }
}