section.services-full {
 display: flex;
 flex-direction: column;
 align-items: center;
}

section.services-full h2 {
 margin-top: calc(var(--header-height) + 1rem);
}

section.services-full .button-container {
 width: 70vw;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 margin: 2rem 0 3rem;
}

section.services-full .img-container {
 width: 70vw;
 /* margin: 1rem 0; */
}

section.services-full .img-container.wide {
 margin-top: calc(1 * var(--header-height));
 width: 100%;
}

section.services-full .description {
 margin: 2rem 1.5rem var(--header-height);
}

section.services-full .description p {
 margin-bottom: 2.5rem;
 line-height: 2rem;
}

section.services-full .description h4 {
 margin: 3rem 0 2rem;
}

section.services-full .description h5 {
 margin-bottom: 2rem;
}

section.services-full .description h5:last-child {
 margin-top: calc(0.5 * var(--header-height));
 margin-bottom: 0;
}

section.services-full .description ul {
 list-style-type: none;
 margin: 1rem;
}

section.services-full .description ul li {
 line-height: 2rem;
 margin-bottom: 2rem;
}

section.services-full .description ul li:last-of-type {
 margin-bottom: 0;
}


section.services-full .description ul li:before {
 position: absolute;
 left: 1.5rem;
 content: "-";
}

section.services-full hr {
 width: 20vw;
 text-align: center;
 border: 1px solid var(--hr-color);
}

section.services-full .prices {
 width: 100%;
 margin-bottom: var(--header-height);
}

section.services-full .prices h2 {
 font-size: 1.8rem;
}

section.services-full .prices table {
 width: 90%;
 margin: 3rem auto;
 line-height: 1.7rem;
 border-collapse: collapse;
}

section.services-full .prices table td {
 padding: 1rem 0;
 vertical-align: bottom;
}

section.services-full .prices table td:last-child {
 min-width: 4rem;
 text-align: right;
 vertical-align: bottom;
}

section.services-full .prices a.button-typ {
 margin: auto;
}

section.see-also {
 margin: var(--header-height) 0 calc(0.75 * var(--header-height));
}

section.see-also h2 {
 font-size: 1.6rem;
 margin-bottom: 3rem;
}