div.time-container {
 div.time {
  padding: 0 2vw;

  p {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   // align-content: center;
   // align-items: center;
   justify-content: center;

   button {
    // height: 100%;
    // width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    // height: 3rem;
    line-height: 3rem;
    width: 5rem;
    text-align: center;
    border-color: transparent;

    &:hover,
    &.selected {
     border-color: var(--dark-color);
     color: var(--dark-color);
    }

    &.selected {
     cursor: default;
    }
   }
  }
 }
}