div.week-container {
 table {
  text-align: center;
  margin: auto;

  tr {
   &:nth-child(3) {
    th {
     padding: 0.5rem;
     font-size: 1.3rem;
    }
   }

   th {
    padding: 0.25rem;
    font-weight: normal;
    font-size: 1.5rem;
   }

   td {
    width: 4rem;
    height: 3rem;
    font-size: 1.6rem;

    span {
     color: #bbb;
    }

    button {
     height: 100%;
     width: 100%;
     border-color: transparent;

     &:hover,
     &.selected {
      border-color: var(--dark-color);
      color: var(--dark-color);
     }

     &.selected {
      cursor: default;
     }
    }
   }
  }
 }
}