a.button-typ {
 display: block;
 max-width: 17rem;
 width: fit-content;
 border: 0.5px solid $dark-color;
 border-radius: 1.1rem 0;
 font-family: 'Montserrat', sans-serif;
 font-style: italic;
 font-weight: normal;
 font-size: 1.35rem;
 text-decoration: none;
 text-align: center;
 color: inherit;
 padding: 0.5rem 1rem;
 background-color: rgba(255, 255, 255, 0.6);

 &:hover,
 &:focus {
  text-shadow: 0 0 00px #000;
  background-color: rgba(255, 255, 255, 0.8);
  @include button-box-shadow();
 }

 i {
  // margin-left: 1rem;
  margin-right: 0.5rem;

  &+span {
   font-family: 'Quicksand', sans-serif;
   font-weight: 500;
  }
 }

 span {
  // margin-left: 1rem;
  // margin-right: 1rem;
  line-height: 1rem;
 }
}