footer {
 height: $header-height-small;
 display: flex;
 flex-direction: column;
 justify-content: center;
 color: #ffffff;
 background-color: #424746;
 text-align: center;
 line-height: 2.1rem;

 span {
  font-size: 1.2rem;
  margin: 0 0.6rem;
 }

 a {
  i {
   margin: 0 0.6rem;
   color: #ffffff;
   text-decoration: none;
   font-size: 1.6rem;
  }
 }
}

@media (min-width: 360px) and (min-height: 360px) {
 footer {
  height: $header-height-big;
 }
}