section.services-full {
 h2 {
  padding-top: calc(#{$header-height-small} + 1rem);
 }

 div.button-container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto 3rem;
 }

 div.description-wrap {
  div.img-container {
   width: 70vw;
   margin: auto;
  }

  div.text-container {
   margin: 2rem 1.5rem 0;

   p {
    margin-bottom: 2.5rem;
    line-height: 2rem;
   }

   h4 {
    margin: 3rem 0 2rem;
   }

   h5 {
    margin-bottom: 2rem;

    &:last-child {
     margin-bottom: 0;
    }
   }

   ul {
    list-style-type: none;

    li {
     position: relative;
     line-height: 2rem;
     margin: 1rem 0 2rem 1.5rem;

     &:last-of-type {
      margin-bottom: 0;
     }

     &:before {
      position: absolute;
      left: -1.5rem;
      content: "-";
     }
    }
   }

   hr {
    margin: calc(0.7 * #{$header-height-small}) auto;
   }
  }
 }

 hr {
  width: 20vw;
  text-align: center;
  border: 1px solid $hr-color;
  margin: calc(1 * #{$header-height-small}) auto 0;
 }

 div.img-container.wide {
  margin-top: calc(1 * #{$header-height-small});
  width: 100%;
 }

 div.discounts {
  margin: 0 1rem 3rem;
 }

 div.prices {
  // display: flex;

  h2 {
   font-size: 1.8rem;
  }

  table {
   width: 90%;
   margin: 3rem auto;
   line-height: 1.7rem;
   border-collapse: collapse;

   td {
    padding: 1rem 0;
    vertical-align: bottom;

    &:last-child {
     min-width: 4rem;
     text-align: right;
     vertical-align: bottom;
    }
   }
  }

  a.button-typ {
   margin: auto;
  }
 }
}

section.see-also {
 margin: $header-height-small 0 calc(0.75 * #{$header-height-small});

 h2 {
  font-size: 1.6rem;
  margin-bottom: 3rem;
 }
}

@media (min-width: 360px) and (min-height: 360px) {
 section.services-full {
  h2 {
   padding-top: calc(#{$header-height-big} + 1rem);
  }

  div.description-wrap {
   div.text-container {
    hr {
     margin: calc(0.7 * #{$header-height-big}) auto;
    }
   }
  }

  hr {
   margin: calc(1 * #{$header-height-big}) auto 0;
  }

  div.img-container.wide {
   margin-top: calc(1 * #{$header-height-big});
  }
 }

 section.see-also {
  margin: $header-height-big 0 calc(0.75 * #{$header-height-big});
 }
}

@media (min-width: 1024px) {
 section.services-full {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.button-container {
   width: 25vw;
  }

  div.description-wrap {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: flex-start;

   div.img-container {
    width: 29%;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 1% 0 0;
   }

   div.text-container {
    width: 40%;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0;
   }
  }

  hr {
   width: 10vw;
  }

  div.prices {
   width: 40%;
  }

  div.prices-wrap {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;

   div.img-container.wide {
    margin: 0 0 0 1%;
    width: 29%;
   }

   div.prices {
    width: 40%;
   }
  }
 }
}