div.time-container {
 div.time {
  padding: 0 2vw;

  p {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   // align-content: center;
   // align-items: center;
   justify-content: center;

   button {
    // height: 100%;
    // width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3.5rem;
    width: 4rem;
    // line-height: 3rem;
    text-align: center;
    border-radius: 1rem;
    margin: 0 0.25rem 0.5rem;

    &:focus,
    &:hover {
     @include button-box-shadow();
    }

    &.selected {
     background-color: $footer-color;
     color: #ffffff;
     cursor: default;
    }
   }
  }
 }
}