$header-height-small: 55px;
$header-height-big: 65px;
$margin-side-small: 4vw;
$margin-side-big: 8vw;
$dark-color: #2d3130;
$footer-color: #424746;
$bg-color: #d5e1df;
$shadow-color: #e2eeec;
$shadow-light-color: #effffc;
$hr-color: #a3b8b4;