div.week-container {
 // margin-bottom: 1rem;
 position: relative;

 table {
  text-align: center;
  margin: auto;

  tr {
   &:nth-child(3) {
    th {
     width: 3.5rem;
     padding: 0.5rem 0;
     font-size: 1.3rem;

     &:first-of-type,
     &:last-of-type {
      width: 3.5rem;
     }
    }
   }

   th {
    padding: 0.25rem;
    font-weight: normal;
    font-size: 1.5rem;
   }

   td {
    height: 3.5rem;
    font-size: 1.6rem;

    span {
     color: #bbb;
    }

    button.day {
     height: 100%;
     width: 100%;
     border-radius: 1rem;

     &.inactive {
      color: #ccc;
      border-color: #ccc;
     }

     &:focus,
     &:hover {
      @include button-box-shadow();
     }

     &.selected {
      background-color: $footer-color;
      color: #ffffff;
      cursor: default;
     }
    }

    button.calendar-arrow {
     height: 3rem;
     width: 3rem;
     border-radius: 1rem 0;
     font-size: 2.5rem;

     &:focus,
     &:hover {
      @include button-box-shadow();
     }
    }
   }
  }
 }

 div.hint {
  position: absolute;
  bottom: -2.5rem;
  line-height: 1.2rem;
  // width: 50%;

  &.before {
   left: 0;
   text-align: left;
  }

  &.after {
   right: 0;
   text-align: right;
  }

  p {
   font-size: 1.25rem;
   color: rgb(226, 0, 0);
   // font-weight: 100;
   // font-style: italic;
  }
 }

}

/* HINT TRANSITION */
/* \/ */
.hint-transition-enter {
 // transform: translateX(100%);
 opacity: 0;
}

.hint-transition-enter-active {
 // transform: translateX(0);
 opacity: 1;
}

.hint-transition-exit {
 // transform: translateX(0);
 opacity: 1;
}

.hint-transition-exit-active {
 // transform: translateX(100%);
 opacity: 0;
}

.hint-transition-enter-active,
.hint-transition-exit-active {
 transition: 250ms ease-out;
}

/* /\ */
/* HINT TRANSITION */