div.week-container {
 // margin-bottom: 1rem;
 position: relative;

 table {
  text-align: center;
  margin: auto;

  tr {
   &:nth-child(3) {
    th {
     padding: 0.5rem;
     font-size: 1.3rem;
    }
   }

   th {
    padding: 0.25rem;
    font-weight: normal;
    font-size: 1.5rem;
   }

   td {
    width: 4rem;
    height: 3rem;
    font-size: 1.6rem;

    span {
     color: #bbb;
    }

    button {
     height: 100%;
     width: 100%;
     border-color: transparent;

     &:hover,
     &.selected {
      border-color: $dark-color;
      color: $dark-color;
     }

     &.selected {
      cursor: default;
     }
    }
   }
  }
 }

 div.hint {
  position: absolute;
  bottom: -3rem;
  // width: 50%;

  &.before {
   left: 0;
   text-align: left;
  }

  &.after {
   right: 0;
   text-align: right;
  }

  p {
   font-size: 1.25rem;
   // font-weight: 100;
   // font-style: italic;
  }
 }

}

/* HINT TRANSITION */
/* \/ */
.hint-transition-enter {
 // transform: translateX(100%);
 opacity: 0;
}

.hint-transition-enter-active {
 // transform: translateX(0);
 opacity: 1;
}

.hint-transition-exit {
 // transform: translateX(0);
 opacity: 1;
}

.hint-transition-exit-active {
 // transform: translateX(100%);
 opacity: 0;
}

.hint-transition-enter-active,
.hint-transition-exit-active {
 transition: 250ms ease-out;
}

/* /\ */
/* HINT TRANSITION */