footer {
 height: var(--header-height);
 display: flex;
 flex-direction: column;
 justify-content: center;
 // padding: 1rem 0;
 // box-sizing: border-box;
 color: #ffffff;
 background-color: #424746;
 text-align: center;
 line-height: 2.1rem;

 span {
  font-size: 1.2rem;
  margin: 0 0.6rem;
 }

 a {
  i {
   margin: 0 0.6rem;
   color: #ffffff;
   text-decoration: none;
   font-size: 1.6rem;
  }
 }
}