@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&family=Quicksand:wght@300;400;500;600&display=swap);
@import "variables.scss";
@import "about.scss";
@import "BurgerMenu.scss";
@import "Button.scss";
@import "Downloads.scss";
@import "hamburgers.scss";
@import "Header.scss";
@import "MenuItem.scss";
@import "Footer.scss";
@import "index.scss";
@import "services.scss";
@import "scheduler.scss";
@import "Time.scss";
@import "Week.scss";

* {
 margin: 0;
 padding: 0;
}

:root {
 font-size: 9px;
 // scroll-behavior: smooth;
}

@media (min-width: 360px) and (min-height: 360px) {
 :root {
  font-size: 10px;
 }
}

@media (min-width: 1024px) {
 :root {
  font-size: 9px;
  // --margin-side: 4vw;
 }
}

@media (min-width: 1440px) {
 :root {
  font-size: 11px;
  // --margin-side: 8vw;
 }
}

body {
 font-family: "Montserrat", sans-serif;
 color: $dark-color;
 min-height: 100vh;
 overflow-y: scroll;

 h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
 }

 h2 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
 }

 h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
 }

 h4 {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
 }

 h5 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.35rem;
  line-height: 2rem;
  font-weight: 400;
 }

 p {
  font-size: 1.4rem;
 }

 ul {
  font-size: 1.4rem;
 }

 table {
  font-size: 1.4rem;
 }

 [type="button"],
 [type="submit"],
 a {
  transition: ease-in-out 150ms;
  color: inherit;

  &:focus,
  &:hover {
   outline: none;
   color: #000;
   text-shadow: 0 0 0.25px #000;

   &.inactive {
    text-shadow: none;
   }
  }
 }
}