div.img-container img {
 display: block;
 width: 100%;
}

section.home {
 display: flex;
 flex-direction: column;
 padding-top: var(--header-height);

 div.portrait-container {
  width: 100%;
  overflow: hidden;
  background-color: #dde2e5;
  font-size: 0;

  img {
   width: 40%;
   margin: 5% auto 0 45%;
  }
 }

 div.text-container {
  margin: 10% 2rem;

  p {
   margin-bottom: 2rem;
   line-height: 2rem;
   letter-spacing: 0.07em;
  }

  .button-typ {
   float: right;
  }
 }
}

section.about {
 display: flex;
 flex-direction: column;
 padding-top: calc(var(--header-height) * 0.7);
 padding-bottom: calc(var(--header-height) * 0.7);
 background-color: var(--bg-color);

 p {
  line-height: 2.2rem;
  margin: 0 2rem 2rem;
 }

 .button-typ {
  align-self: center;
 }
}

@media (min-width: 533px) {
 section.home {
  display: flex;
  flex-direction: row;

  div.portrait-container {
   position: relative;
   width: 50%;
   height: 50vh;

   img {
    position: absolute;
    bottom: 0;
    right: 15%;
    height: 90%;
    width: auto;
    margin: 0;
   }
  }

  div.text-container {
   position: relative;
   width: 50%;
   flex-shrink: 0;
   margin: 0;
   padding: 0;

   p {
    position: absolute;
    bottom: 10%;
    left: 10%;
    margin: 0;
    line-height: 2.2rem;
    letter-spacing: 0.05em;
   }
  }
 }
}

@media (min-width: 1024px) {
 div.first-view-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;

  section.home {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   flex-shrink: 1;

   div.portrait-container {
    position: relative;
    width: 50%;
    height: auto;
    flex-shrink: 0;

    img {
     position: absolute;
     bottom: 0;
     right: 15%;
     height: 90%;
     width: auto;
     margin: 0;
    }
   }

   div.text-container {
    position: relative;
    width: 50%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;

    p {
     position: absolute;
     bottom: 10%;
     left: 10%;
     margin: 0;
     line-height: 2.2rem;
     letter-spacing: 0.05em;
    }
   }
  }

  section.about {
   display: block;
   padding-top: calc(var(--header-height) * 0.5);
   padding-bottom: calc(var(--header-height) * 0.5);
   padding-left: var(--margin-side);
   padding-right: var(--margin-side);

   p {
    margin-left: 0;
    margin-right: 0;
   }

   .button-typ {
    float: right;
    margin-right: 15vw;
   }
  }
 }
}

section.services {
 h1 {
  margin-top: calc(var(--header-height) + 0.5rem);
  margin-bottom: calc(0.5 * var(--header-height) + 1rem);
 }

 div.service {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 4rem 0;

  div.img-container {
   width: 70vw;
   height: 45vw;
   overflow: hidden;
  }

  p {
   margin: 1.5rem 2rem;
   line-height: 2rem;
  }
 }

 hr {
  margin: 0 40vw;
  unicode-bidi: isolate;
  border: 1px solid var(--hr-color);
 }
}

@media (min-width: 1024px) {
 section.services {
  --base-size: 8vw;
  margin-bottom: calc(1 * var(--header-height));

  div.service {
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   height: 16vw;
   justify-content: space-between;
   margin: calc(0.5 * var(--header-height) + 1rem) var(--margin-side);

   &:nth-of-type(even) {
    flex-direction: row-reverse;
   }

   div.img-container {
    width: calc(3 * var(--base-size));
    height: calc(2 * var(--base-size));
    overflow: hidden;
   }

   div.text-container {
    width: calc(100% - 3 * var(--base-size) - 0.5 * var(--margin-side));
    height: calc(2 * var(--base-size));
    // margin-left: 1rem;
    overflow: hidden;

    p {
     width: auto;
     margin: 0;
     margin-bottom: 1rem;
    }

    ul {
     list-style-type: none;

     li {
      position: relative;
      line-height: 1.8rem;
      margin: 1rem 0 0 1rem;

      &:last-of-type {
       margin-bottom: 0;
      }

      &:before {
       position: absolute;
       left: -1rem;
       content: "-";
      }
     }
    }
   }

   .button-typ {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   }
  }

  hr {
   margin: 0 47vw;
  }

 }
}

section.contact {
 display: flex;
 flex-direction: column;
 background-color: var(--bg-color);

 h1 {
  margin-top: calc(var(--header-height) + 0.5rem);
  margin-bottom: calc(0.5 * var(--header-height) + 1rem);
  letter-spacing: 0.2rem;
 }

 div.contact-wrap {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // align-content: center;

  div.img-container {
   width: 100%;
   overflow: hidden;
  }

  div.text-container {
   align-self: center;
   margin: 2rem;

   table {
    border-collapse: collapse;

    tr {
     // height: 4rem;

     td {
      margin: 1rem 0;

      &:first-child {
       text-align: center;
      }

      &:last-child {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: center;
       align-content: center;

       p {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 0.5rem;
       }
      }

      i {
       font-size: 2.2rem;
       padding-right: 1.5rem;
      }

      a {
       color: inherit;
      }
     }
    }
   }
  }

  .button-typ {
   margin: 2rem auto;
  }

  div.map-container {
   width: 100%;
   height: 90vw;
  }
 }
}

@media (min-width: 1024px) {
 section.contact {
  div.contact-wrap {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 var(--margin-side) calc(var(--header-height) + 0.5rem);

   div.img-container {
    width: 49%;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 1rem;
   }

   div.details-wrap {
    width: 49%;
    display: flex;
    flex-direction: column;

    div.text-container {
     margin: 0;
     flex-grow: 0;
     flex-shrink: 0;
     align-self: flex-start;
    }

    .button-typ {
     margin: 0.5rem auto 1rem;
    }

    div.map-container {
     height: auto;
     flex-grow: 1;
     flex-shrink: 1;
    }
   }
  }
 }
}